:root {
  --nnpc-50: 242 251 246;
  --nnpc-100: 225 247 234;
  --nnpc-200: 196 238 216;
  --nnpc-300: 149 224 184;
  --nnpc-400: 96 200 146;
  --nnpc-500: 58 173 113;
  --nnpc-600: 43 142 90;
  --nnpc-700: 34 104 68;
  --nnpc-800: 34 89 61;
  --nnpc-900: 29 74 52;
  --nnpc-950: 11 40 26;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gradient {
    background: linear-gradient(
      107.65deg,
      #aae4c5 -6.77%,
      #efec80 45.65%,
      #d2f69e 108.92%
    );
  }
}

.button {
  transition: opacity 0.3s ease-in-out;
}

.button.hovered {
  opacity: 0.8;
}

.notification-icon {
  position: relative;
  display: inline-flex;
}

.notification-count {
  position: absolute;
  top: 0;
  right: 0;
  left: 20px;
  background-color: #00af50;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 10px;
  margin-top: -8px;
  height: 18px;
  width: 21px;
}

.card {
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 352px;
  height: 250px;
}

.layout-main {
  width: '100%';
  overflow-y: 'auto';
  margin-left: '260px';
  background-color: 'rgba(255, 255, 255, 0.5)';
  padding: '32px';
  margin-top: '20px';
  border-radius: '8px';
}

.layout-icon-body {
  border: 2px solid #e8eaed;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-left-negative-260px {
  margin-left: -260px;
}