:root {
  --nnpc-medium-50: #f2fbf6;
  --nnpc-medium-100: #e1f7ea;
  --nnpc-medium-200: #c4eed8;
  --nnpc-medium-300: #95e0b8;
  --nnpc-medium-400: #60c892;
  --nnpc-medium-500: #3aad71;
  --nnpc-medium-600: #2b8e5a;
  --nnpc-medium-700: #226844;
  --nnpc-medium-800: #22593d;
  --nnpc-medium-900: #1d4a34;
  --nnpc-medium-950: #0b281a;

  --nnpc-dark-50: #eefff0;
  --nnpc-dark-100: #d8ffe0;
  --nnpc-dark-200: #b4fec2;
  --nnpc-dark-300: #79fc92;
  --nnpc-dark-400: #38f05d;
  --nnpc-dark-500: #0ed938;
  --nnpc-dark-600: #05b428;
  --nnpc-dark-700: #088d24;
  --nnpc-dark-800: #0c6f22;
  --nnpc-dark-900: #0c5b1e;
  --nnpc-dark-950: #004010;

  --nnpc-light-50: #eefff5;
  --nnpc-light-100: #d7ffe9;
  --nnpc-light-200: #b2ffd4;
  --nnpc-light-300: #76ffb3;
  --nnpc-light-400: #33f58b;
  --nnpc-light-500: #09de6a;
  --nnpc-light-600: #00af50;
  --nnpc-light-700: #049145;
  --nnpc-light-800: #0a713a;
  --nnpc-light-900: #0a5d32;
  --nnpc-light-950: #00341a;

  --nnpc-red-50: #fff0f0;
  --nnpc-red-100: #ffdddd;
  --nnpc-red-200: #ffc0c0;
  --nnpc-red-300: #ff9494;
  --nnpc-red-400: #ff5757;
  --nnpc-red-500: #ff2323;
  --nnpc-red-600: #ec0000;
  --nnpc-red-700: #d70000;
  --nnpc-red-800: #b10303;
  --nnpc-red-900: #920a0a;
  --nnpc-red-950: #500000;

  --nnpc-yellow-50: #fcffe7;
  --nnpc-yellow-100: #f5ffc1;
  --nnpc-yellow-200: #f0ff86;
  --nnpc-yellow-300: #efff41;
  --nnpc-yellow-400: #f6ff0d;
  --nnpc-yellow-500: #e9e500;
  --nnpc-yellow-600: #d1bb00;
  --nnpc-yellow-700: #a68802;
  --nnpc-yellow-800: #896a0a;
  --nnpc-yellow-900: #74560f;
  --nnpc-yellow-950: #442e04;

  --nnpc-50: #d2f69e;
  --nnpc-100: #00af50;
  --nnpc-200: #226844;
  --nnpc-300: #004010;
  --nnpc-400: #e9e500;
  --nnpc-500: #ec0000;

  --nnpc-gray-100: #eaeef2;
  --nnpc-gray-200: #49526a;
  --nnpc-gray-500: #050505;
}

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-Italic";
  src: url("./assets/fonts/Mulish-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 1000;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: "Mulish", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gradient {
    background: linear-gradient(
      107.65deg,
      #aae4c5 -6.77%,
      #efec80 45.65%,
      #d2f69e 108.92%
    );
  }

  .gradient-bg {
    background: linear-gradient(
      107.65deg,
      #aae4c5 -6.77%,
      #efec80 45.65%,
      #d2f69e 108.92%
    );
  }
}
.logingradient-bg {
  background: linear-gradient(
    287.65deg,
    #10482b 2.07%,
    #457303 51.82%,
    #10482b 94.05%
  );
}

.button {
  transition: opacity 0.3s ease-in-out;
}

.button.hovered {
  opacity: 0.8;
}

.notification-icon {
  position: relative;
  display: inline-flex;
}

.notification-count {
  position: absolute;
  top: 0;
  right: 0;
  left: 20px;
  background-color: #00af50;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 10px;
  margin-top: -8px;
  height: 18px;
  width: 21px;
}

.card {
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 330px;
  height: 250px;
}

.layout-main {
  width: "100%";
  /* overflow-y: "auto"; */
  margin-left: "260px";
  background-color: "rgba(255, 255, 255, 0.5)";
  padding: "32px";
  margin-top: "20px";
  border-radius: "8px";
}

.layout-icon-body {
  border: 2px solid #e8eaed;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-left-negative-260px {
  margin-left: -260px;
}

.fixed-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
